body {
    font-family: 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 100px auto 0 auto;
}

p {
    font-size: 1rem;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

h3 {
    color: #11999E;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 35px;
}

.bottom-container {
    background-color: #66bfbf;
    height: 150px;
    margin: 100px auto 5px auto;
}

.profile {
    margin: 80px auto 80px auto;
    text-align: center;
    width: 50%;
}

.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

span {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.code-img {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.mobile-img {
    float: right;
    width: 25%;
    margin-left: 30px;
}

hr {
    border-top: 8px dotted #c7ffff;
    width: 8%;
    border-right: none;
    border-left: none;
    border-bottom: none;
    margin: 70px auto 70px auto;
}

.contact-me-description {
    margin: 50px auto 50px auto;
    width: 50%;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
}

.footer-link {
    color: rgb(72, 90, 252);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 20px 50px;
}

a:hover {
    color: #ffffff;
}
 
 .BUTTON_RCL {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
